.modal-content .resident-content-row {
    box-shadow: none;
    margin-bottom: 2%;
    background: #FFF;
    color: #009381;
    border-radius: 20px;
    padding: .6% 2%;
    font-size: 17px;
    margin-top: 1%;
    width: 90%;
}

.modal-content label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.modal-content input[type="submit"] {
    width: 172px;
    height: 42px;
    align-items: center;
}

.modal-content div {
    padding: 0 5%;
}  

/* Residents list*/

.residents-list-layout .in-room-residents-scroll-zone {
    padding: 1.5%;
    margin-top: 2.5%;
}

/* Settlement Order */
.settlement-order-body {
    width: 80%;
    margin: auto;
    padding: 1%;
}

.settlement-order {
    width: 52.5%;
    padding: 1%;
}


.mini {
    letter-spacing: 0.4em;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
}

.type {
    margin-top: 5%;
    margin-bottom: 3%;
}

.settlement-order input[name='passportNumber'] {
    max-width: 25%;
    float: right;
}

.settlement-order input[name='parentPassportNumber'] {
    max-width: 25%;
    float: right;
}

.settlement-order form .resident-content-row:nth-child(2) input {
    margin-right: 42%;
    margin-left: 0;
}

.settlement-order input {
    color: #3A7890;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    max-width: 67%;
    height: 10px;
    padding: 2% 3%;
    float: right;
}

/* Rating Operations, Eviction orders, Transactions */
.rating-operation, .eviction-order, .transaction-layout {
    height: 35%;
    width: 45%;
}

.rating-operation form, .eviction-order form, .transaction-layout form {
    margin-top: 5%;
}

.rating-operation input, .eviction-order input, .transaction-layout input {
    color: #3A7890;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    max-width: 45%;
    height: 10px;
    padding: 2% 3%;
    float: right;
    margin-right: 0;
}


/* Transaction Layout */
.transaction-layout {
    margin-left: 5%;
    margin-right: 5%;
}
.transaction-layout .radio-label {
    background: #D9FFFA;
    border-radius: 10px;
    width: 30%;
    height: 3%;
    cursor: pointer;
    margin-right: 5%;
}


.transaction-layout input[type="radio"]:checked + .radio-label {
    background: #FFFFFF;
    border: 1px solid #00938A;
    border-radius: 10px;
    width: 30%;
    height: 3%;
    cursor: pointer;
}

/* Settings save layout */

.settings-save {
    width: 35%;
    height: 35%;
}

.settings-save-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.settings-save .info {
    display: inline-block;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #3A7890;
    
    margin-top: 5%;
}

.settings-save .additional-info {
    margin-top: 1.5%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.015em;
    
    color: rgba(58, 120, 144, 0.59);

}

.settings-save-content .password-repeat {
    color: #3A7890;
    opacity: 0.6;
    border: 0;
    width: 50%;
    height: 35px;
    border-radius: 12px;
    margin-top: 10%;
    margin-left: 0;

    font-size: 16px;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    padding: 0 65px;

    background-size: 5.625%;
    background: #D9FFFA url(../../Login/img/lock-icon.svg) no-repeat calc((24 / 365) * 100%);
}

.settings-save-content .buttons-container {
    padding: 0;
    width: 100%;
    margin-top: 10%;
    margin-left: 8%;
}

.settings-save-content .settings-btn {
    transition: background-color 0.5s;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #1ECBAD;
    box-shadow: 0px 0px 15px rgba(0, 107, 94, 0.3);
    border-radius: 12px;

    font-family: 'Ubuntu';
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 1% 9%;
    
    max-width: 40%;
}

.settings-save-content .buttons-container .cancel {
    margin-right: 18.5%;
    padding: 1% 13%;
}

.settings-save-content .buttons-container .cancel:hover {
    background-color: #1aab92;
}

.settings-save-content .buttons-container .done {
    background: #C4C4C4;
    cursor: auto;
}

.settings-save-content .buttons-container .active {
    background: #2D8CB5;
}

.settings-save-content .buttons-container .active:hover {
    background: #2487af;
}


