.settings-name {
    background: #86F0DD;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    height: calc(63 / 872 * 100%);
}

.settings-name p  {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.5em;
    height: calc(50 / 63 * 100%);
    display: flex;
    align-items: center;
    color: #727272;
}

.settings {
    box-sizing: border-box;
    width: calc((1051 / 1920) * 100%);
    height: calc(872 / 1080 * 100%);
    margin-left: calc(115 / 1920 * 100%);
    margin-right: calc(219 / 1920 * 100%);
    margin-top: calc((100 / 1920) * 100%);
    float: right;
}

.settings-main-block {
    margin-top: calc(38 / 1047 * 100%);
    height: calc(773 / 872 * 100%);
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    border-radius: 25px;
    background: white url(img/bubbles.svg) no-repeat;
    background-size: cover;
}

.settings-container {
    margin-left: calc(76 / 1051 * 100%);
    width: calc(590 / 1051 * 100%);
    height: 100%;
    padding-top: 4%;
}

.settings-container-block {
    align-items: center;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #00938A;
    height: 5.5%;
    width: 100%;
    margin-bottom: calc(15 / 465 * 100%);
}

.settings-container-block span {
    line-height: 30px;
    vertical-align: middle;
}

.header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #727272;
}

.settings-container-block input[type="number"], .settings-container-block input[type="text"] {
    max-width: 40%;
    margin-right: 0;
    height: 90%;
    background: #D9FFFA;
    font-family: Ubuntu, serif;
    color: #3A7890;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 20px;
    border: 0;
    outline: none;
    float: right;
    text-align: center;
}

.settings-container-block input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    color: #00938A;
}

.settings-container-block ul  {
    height: 100%;
}

.settings-container-block ul li {
    height: 25%;
    margin-bottom: 3%;
}

.settings-save-btn, .settings-constant-change-btn {
    cursor: pointer;
    position: relative;
    width: 40%;
    height: 6%;
    left: 60%;
    margin-top: 3.5%;
    margin-bottom: 2.5%;
    padding: 5px;
    background: #1ECBAD;
    box-shadow: 0 10px 15px rgba(0, 107, 94, 0.3);
    outline: 0;
    border: 0;
    border-radius: 25px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.5s;
}

.settings-constant-change-btn:hover {
    background-color: #1aab92;
}

.settings-save-btn {
    background: #299DCE;
}

.settings-save-btn:hover {
    background: #2487af;
}

@media screen and (max-width: 1700px) {
    .settings-name p {
        font-size: 20px;
    }

    .settings-container-block {
        font-size: 20px;
    }
}