.settings-name {
    background: #86F0DD;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    height: calc(63 / 872 * 100%);
}

.settings-name p  {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.5em;
    height: calc(50 / 63 * 100%);
    display: flex;
    align-items: center;
    color: #727272;
}

.settings {
    box-sizing: border-box;
    width: calc((1051 / 1920) * 100%);
    height: calc(872 / 1080 * 100%);
    margin-left: calc(115 / 1920 * 100%);
    margin-right: calc(219 / 1920 * 100%);
    margin-top: calc((100 / 1920) * 100%);
    float: right;
}

.settings-main-block {
    margin-top: calc(38 / 1047 * 100%);
    height: calc(773 / 872 * 100%);
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    border-radius: 25px;
    background: white url(img/bubbles.svg) no-repeat;
    background-size: cover;
}

.settings-container {
    margin-left: calc(76 / 1051 * 100%);
    width: calc(590 / 1051 * 100%);
    height: calc(276 / 773 * 100%);
    padding-top: calc(110 / 1051 * 100%);
}

.settings-container-block {
    align-items: center;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #00938A;
    height: calc(63 / 276 * 100%);
    width: 100%;
    margin-bottom: calc(43 / 465 * 100%);
}

.settings-container-block span {
    line-height: 40px;
    vertical-align: middle;
}

.settings-container-block input {
    width: calc(233 / 590 * 100%);
    height: 80%;
    background: #D9FFFA;
    font-family: Ubuntu, serif;
    color: #3A7890;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 10px;
    border: 0;
    outline: none;
    float: right;
    text-align: center;
}

.settings-container-block input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    color: #00938A;
}

.settings-save-btn {
    position: relative;
    width: calc(208 / 1051 * 100%);
    height: calc(58.5 / 773 * 100%);
    top: 30%;
    left: 70%;
    padding: 5px;
    background: #1ECBAD;
    box-shadow: 0 10px 15px rgba(0, 107, 94, 0.3);
    outline: 0;
    border: 0;
    border-radius: 25px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}



@media screen and (max-width: 1700px) {

    .settings-name p {
        font-size: 20px;
    }

    .settings-container-block {
        font-size: 20px;
    }
}
