.residents {
    box-sizing: border-box;
    float: right;
    width: 75%;
    margin-top: 2.96875%;
    height: 90.741%;
    margin-right: 1%;
}


.residents-block-header {
    height: 6.5741%;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.5em;
    color: #727272;
    background: #86F0DD;
    border-radius: 25px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.sidebar {
    margin-right: 2%;
}

/* Filters and nav*/

.residents-container .residents-nav input {
    background: #D9FFFA;
    border-radius: 14px;
    font-family: Ubuntu, serif;
    color: #3A7890;
    font-size: 17px;
    border: 0;
    outline: none;
    width: 43.07692%;
    height: 1.15385%;
    padding: 1.23077% 0 1.23077% 1.923077%;
}

.filters {
    width: 420px;
    float: right;
    margin-right: 3%;
    display: flex;
    justify-content: center;
}

.filters button {
    margin-right: calc(24 / 1300 * 100%);
    border: 1px solid rgba(0, 147, 129, 0.5);
    border-radius: 50%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 33px;

    width: calc(55 / 400 * 100%);
    height: 53px;

    color: #009381;
}

.yellow-btn {
    background: #FFEEB1;
}

.red-btn {
    background: #FFC9C9;

}

.green-btn {
    background: #B1FFC7;
}

.w-filter-btn, .m-filter-btn, .resident-add-btn {
    background: #FFFFFF;
}

.resident-add-btn {
    background-image: url("img/Add.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.residents-nav {
    margin-bottom: 1%;
}

/* List container */

.residents-container {
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    border-radius: 25px;
    height: 85%;
    padding-left: calc(20 / 1300 * 100%);
    padding-top: calc(24 / 1300 * 100%);
    margin-top: calc(13 / 1300 * 100%);
    padding-bottom: 2%;
}

.residents-list {
    margin-top: 1%;
    max-width: calc(1290 / 1315 * 100%);
    height: 500px;
    margin-left: 10px;
}

.residents-list .resident-content {
    width: calc(1180 / 1240 * 100%);
    max-height: 100%;

}

.residents-list .resident-collapsible {
    padding: 1% 2%;
    margin-bottom: calc(9 / 1271 * 100%);
    max-height: 100%;
}

.residents-list .resident-content-row {
    width: 33%;
    flex-shrink: 1;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 9px;
    overflow: hidden;

}

.residents-list .resident-content-row label {
    display:inline-block;
    max-width: 150px;
}

/* Scrollbar */
::-webkit-scrollbar-track {
    margin-top: 30px;
}

.residents-list-scroll {
    width: 99%;
    overflow: scroll;
    overflow-x: hidden;
    height: 90%;
}


/* Form */
.residents-list .resident-content form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: calc(30 / 1210 * 100%);
    height: 180px;
}

/* Inputs */
.residents-container input::placeholder {
    color: rgba(0, 147, 129, 0.5);
}

.residents-list .resident-content-row input {
    width: 50%;
    padding-left: 9px;
}

.residents-list input[type="text"] {
    max-width: 100%;
}

input[type="submit"]:hover {
    background-color: #19A38BFF;
}

.residents-list .button-content-row {
    margin-top: 1%;
}

.residents-list .button-content-row input {
    padding: .8% 2%;
}

.residents-list .button-content-row . {
    padding: .8% 2%;
}


@media screen and (max-width: 1700px) {
    * {
        font-size: 14px;
    }

    .residents-list  .resident-content-row input {
        width: calc(180 / 420 * 100%);
        height: 15px;
    }

    .residents-list .resident-content-row {
        width: calc(390 / 1215 * 100%);
    }

    .residents-list .resident-content-row .radio-label{
        width: 15px;
        height: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .residents-list .resident-content-row input {
        font-size: 12px;
    }

    .residents-list input[type="submit"] {
        height: 25px;
        width: 106px;
    }

}