.main {
    background-blend-mode: multiply;
    background-image: url(img/background.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2FFFB;
    height: 100%;
    width: 100%;
}

.registration-text {
    color: #3A7890;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    height: 25px;
    text-decoration: underline;
    text-decoration-color: #3A7890;
    text-underline-offset: 12px;
    margin-bottom: 5.5%;
}

.registration-form-container {
    padding: 0;
    position: relative;
    top: 25%;
    left: 25.365%;
    background-color: #FFFFFF;
    width: 49.2709%;
    height: 49.303%;
    overflow: hidden;
    box-shadow: 0 0 90px rgba(0, 107, 94, 0.3);
}

.col-1-3 {
    width: 44.0803383%;
    float: left;
}

.col-2-3 {
    width: 55.9196617%;
    float: left;
}


.password-input {
    color: #3A7890;
    opacity: 0.6;

    border: 0;
    width: calc(((365 - 65 * 2) / 529 * 100%));
    height: 8.66%;
    border-radius: 12px;
    margin-top: 7%;

    font-size: 16px;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    padding: 0 65px;

    background-size: 5.625%;

    background: #D9FFFA url(img/lock-icon.svg) no-repeat calc((24 / 365) * 100%);
}

.password-input:focus {
    outline: 2px solid #3A7890;
}

.password-input::placeholder {
    color: #3A7890;
}

.registration-btn {
    background: #299DCE;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    width: 55.9546314%;
    padding: 2.5% 0;
    border: 0;
    margin-top: 10%;
    cursor: pointer;
}


@media screen and (max-width: 1700px){
    .login-btn {
        font-size: 14px;
        line-height: 20px;
    }

    .authorization-text {
        font-size: 18px;
    }

    .password-input {
        font-size: 12px;
    }
}