# Default ignored files
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
# Datasource local storage ignored files
/dataSources.local.xml
