.documents {
    box-sizing: border-box;
    float: right;
    width: 68.75%;
    margin-top: 2.96875%;
    height: 90.741%;
    margin-right: 3.4375%;
}

.documents-block-name {
    height: 6.5741%;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.5em;
    color: #727272;
    background: #86F0DD;
    border-radius: 25px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.documents-nav input {
    background: #D9FFFA;
    border-radius: 14px;
    font-family: Ubuntu, serif;
    color: #3A7890;
    font-size: 17px;
    border: 0;
    outline: none;
    width: 43.07692%;
    height: 1.15385%;
    padding: 1.23077% 0 1.23077% 1.923077%;
}

.documents-nav input::placeholder {
    color: rgba(0, 147, 129, 0.5);
}

.documents-nav {
    margin-bottom: 2.5%;
}

.documents-container {
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    border-radius: 16px;
    height: 85%;
    padding-left: 1.5385%;
    padding-top: 1.8462%;
    margin-top: 1%;
    padding-bottom: 2%;
}


.documents .resident-collapsible {
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    padding: 1% 3%;
    margin-bottom: .8%;
}

.documents-scroll-zone {
    padding: 1% 1.5% 1% 1%;
    margin-right: .7%;
    height: 88%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 20px;
}

.documents .active {
    margin-bottom: 1%;
}

.documents .resident-content-row {
    background: #FFF;
    color: #009381;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 107, 94, 0.3);
    padding: .6% 2%;
    font-size: 17px;
    margin-top: 1%;
    margin-bottom: .5%;
    width: 90%;
}

.documents-scroll-zone .resident-content-row {
    cursor: pointer;
}

.modal-content input[type="submit"] {
    height: 32px;
    width: 136px;
    background-color: #1ECBAD;
    color: #FFFFFF;
    text-align: center;
    padding: 1.2%;
    line-height: 100%;
    margin-top: 9%;
}